{{#each this}}
  <li>
    <p class='title-item'>
      <img
        src='{{flags.svg}}'
        alt='flag of {{name.official}}'
        width='30'
        height='25'
      />{{name.official}}</p>
  </li>

{{/each}}